* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  color: white;
  background: #0D1117 !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 440px;
}

header {
  background: #161B22 !important;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
header nav .div {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .div .header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}
header nav .div .header-left i {
  cursor: pointer;
  font-size: 40px;
}
header nav .div .header-left input {
  padding: 3px 2px;
  width: 227px;
  background: #0D1117;
  border: 1px solid #0D1117;
  outline: none;
  font-weight: 600;
  color: white;
  font-size: 13px;
}
header nav .div .header-left ul {
  display: flex;
  gap: 16px;
}
header nav .div .header-left ul li a {
  font-weight: 700;
  font-size: 14px;
  color: white;
}
header nav .div .header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}
header nav .div .header-right i {
  font-size: 20px;
  cursor: pointer;
}
header nav .div .header-right #user_imgg img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

#aside {
  background: #161B22;
  width: 300px;
  padding-left: 74px;
  padding-top: 138px;
  padding-right: 40px;
  height: 100vh;
  position: fixed;
}
#aside .user_img {
  width: 106px;
  height: 106px;
  border-radius: 100%;
  margin-bottom: 16px;
}
#aside h3 {
  font-weight: 600;
  font-size: 20px;
}
#aside h4 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 18px;
  color: #6E7681;
}
#aside button {
  width: 100%;
  text-align: center;
  padding: 7px 0;
  border-radius: 8px;
  background: #21262D;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 18px;
}
#aside p {
  font-weight: 400;
  font-size: 12px;
  color: #C2CAD1;
  margin-bottom: 18px;
}
#aside ul {
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(194, 202, 209, 0.1254901961);
  margin-bottom: 18px;
  width: 100%;
}
#aside ul li {
  display: flex;
  gap: 10px;
}
#aside ul li p {
  gap: 5px;
  display: flex;
  font-weight: 600;
  font-size: 12px;
  color: #6E7681;
}
#aside ul li p span {
  color: white;
}
#aside h2 {
  font-weight: 600;
  font-size: 14px;
}
#aside .achiv_img {
  margin-bottom: 18px;
  display: flex;
  gap: 5px;
}
#aside .beta {
  cursor: pointer;
  padding: 1.5px 8px;
  border: 1px solid #26A641;
  border-radius: 15px;
  font-weight: 400;
  color: #26A641;
}
#aside .feedback {
  font-weight: 600;
  color: #58A6FF;
  cursor: pointer;
}
#aside a {
  margin-top: 10px;
  display: block;
  color: #6E7681;
  font-weight: 400;
  font-size: 10px;
}

#content {
  padding-top: 128px;
}
#content .container .content-menu ul {
  display: flex;
  gap: 24px;
  margin-bottom: 28px;
}
#content .container .content-menu ul li {
  padding: 16px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  color: #C2CAD1;
  font-size: 14px;
  border-bottom: 2px solid rgba(231, 121, 96, 0);
  cursor: pointer;
}
#content .container .content-menu ul li span {
  padding: 5px;
  color: white;
  background: #343942;
  border-radius: 100%;
}
#content .container .content-menu ul li i {
  font-size: 22px;
}
#content .container .content-menu ul li:hover {
  border-bottom: 2px solid #E77960;
  transition: all 0.2s linear;
}
#content .container #portfoliyo {
  padding: 28px 25px;
  border: 1px solid #343942;
  border-radius: 10px;
}
#content .container #portfoliyo p:nth-child(1) {
  font-weight: 700;
  font-size: 12px;
  color: #C2CAD1;
  margin-bottom: 24px;
}
#content .container #portfoliyo h2 {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 32px;
  color: #EE5F2E;
  width: 100%;
  border-bottom: 1px solid #282C31;
  margin-bottom: 24px;
}
#content .container #portfoliyo h3 {
  font-weight: 700;
  font-size: 18px;
  color: #C2CAD1;
  margin-bottom: 15px;
}
#content .container #portfoliyo .about_us {
  margin-bottom: 24px;
  padding-left: 28px;
}
#content .container #portfoliyo .about_us li {
  margin-bottom: 10px;
  list-style-type: disc;
  font-weight: 400;
  font-size: 14px;
  color: #C2CAD1;
}
#content .container #portfoliyo h4 {
  font-weight: 700;
  font-size: 18px;
  color: #C2CAD1;
  margin-bottom: 15px;
}
#content .container #portfoliyo .platzi {
  margin-bottom: 24px;
}
#content .container #portfoliyo .connect {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
}
#content .container #portfoliyo .connect i {
  font-size: 44px;
}
#content .container #portfoliyo .language {
  display: flex;
  flex-wrap: wrap;
  width: 316px;
  gap: 20px;
  margin-bottom: 24px;
}
#content .container #portfoliyo .top_language {
  padding-top: 24px;
  border-top: 4px solid #343942;
}
#content .container #portfoliyo .github {
  margin-top: 24px;
}/*# sourceMappingURL=style.css.map */